@import "tailwindcss";

@theme {
  --color-primary: #4f6d62;
  --color-secondary: #f4f7f4;
  --color-accent: #c8a97e;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-inter);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}

button {
  font-family: inherit;
}
